<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.serverside.mapper.OrderMapper">
    <resultMap id="orders" type="Annieorder">
        <id property="id" column="id"></id>
        <result property="address" column="address"></result>
        <result property="goodsPrices" column="goods_prices"></result>
        <result property="post" column="post"></result>
        <result property="receiver" column="receiver"></result>
        <result property="mobile" column="mobile"></result>
        <result property="userMessage" column="user_message"></result>
        <result property="createDate" column="create_date"></result>
        <result property="payDate" column="pay_date"></result>
        <result property="deliveryDate" column="deliver_date"></result>
        <result property="confirmDate" column="confirm_date"></result>
        <result property="openid" column="openid"></result>
        <result property="status" column="status"></result>
        <collection property="list" select="com.hy.serverside.mapper.ProductMapper.getProductById" column="id" javaType="ArrayList"></collection>
    </resultMap>

    <select id="getOrderSize" resultType="int">
        select Count(*) from annieorder where openid =#{openid}
    </select>
    <select id="getOrderById" resultMap="orders">
    select * from annieorder where openid=#{openid}
  </select>

    <select id="getOrderAll" resultMap="orders">
        select * from annieorder
        where openid=#{openid}
     <if test="orderStatus != null and orderStatus != '' or orderStatus!=0">
     and status=#{orderStatus}
     </if>
        and status!=5
        ORDER BY status
        desc
      limit #{page},#{size}
    </select>

    <update id="delOrder">
        UPDATE annieorder SET status = 5 WHERE id = #{orderNo}
    </update>

    <update id="orderConfirm">
        UPDATE annieorder SET status = 0 WHERE id = #{orderNo}
    </update>


</mapper>