<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.serverside.mapper.ProductMapper">

    <select id="Favorite" resultType="String">
        select product_id from collect where user_id=#{openId} and product_id=#{goodsId}
    </select>

    <insert id="addFavorite">
      INSERT INTO collect(product_id,user_id) VALUES (#{openId}, #{goodsId})
    </insert>
</mapper>