<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.serverside.mapper.UserMapper">

    <select id="getUserTest" resultType="com.hy.serverside.entity.User">
        select * from user where id = #{id};
    </select>

  <update id="saveSellto">
      INSERT INTO relation (oneself,superior,opentime,payfor)VALUES (#{oneself},#{superior},#{opentime},0)
  </update>
    
    <select id="getSuperior" resultType="Relation">
        select * from relation where  superior=#{superior} and oneself=#{oneself}
    </select>
</mapper>