<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.serverside.mapper.UserMapper">

    <select id="getUserTest" resultType="com.hy.serverside.entity.User">
        select * from user where id = #{id};
    </select>
    
    <select id="getParentName" resultType="String">
        SELECT user.name FROM user
        WHERE
        user.openid=
        (
        SELECT
             n3.node_name
        FROM
            nodeInfo n1
        INNER JOIN nodeRelationship n2 ON n1.node_id = n2.descendant
        INNER JOIN nodeInfo n3 ON n2.ancestor = n3.node_id
        WHERE
            n1.node_name = #{subclassName}
            AND n2.distance=1
            )
    </select>

    <select id="getByopenId" resultType="User">
        select * from user where openid=#{openId}
    </select>

    <select id="svaeNode">
       INSERT INTO nodeInfo (node_name) VALUES (#{name})
    </select>
</mapper>